<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Antivirus" Language="1033" Version="1.0.0.0" Manufacturer="YourName" UpgradeCode="6e8c6c2b-1e6c-4e2c-8a6f-9e0b5d2a7e2f">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="AntivirusApp" />
      </Directory>
    </Directory>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="b7f5e9e4-8c7d-4c4e-9e2d-1a2b3c4d5e6f">
        <File Id="AntivirusExe" Source="dist\\antivirus_server.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <Feature Id="ProductFeature" Title="Antivirus" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>
  </Product>
</Wix>
